.disc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: cyan;
    position: fixed;
}
.me {
    background-color: red;
}
#space {
    width: 100%;
    height: 90vh;
}
#Start {
    margin-left: 1em;
    border: 2px solid black;
    color: red;
    display: inline-block;
    padding: 2px;
    vertical-align: top;
}
#Start:hover {
    cursor:pointer;
    background-color: yellow;
}
#failed {
    font-size: 300%;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 40%;
}
.invisible {
    display: none;
}