.header {
    margin-bottom:1em;
    font-size:80%;
    text-align: center;
}

#shapeContainer {
    border:1px solid gray;
    margin:auto;
    width:80%;
    height:600px;
}

.squares {
    width: 25px;
    height: 25px;
    /* background-color: blue; */
    display: inline-block;
    margin: 5px;
}

.circles {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}